[submodule "tests/lib/googletest"]
	path = tests/lib/googletest
	url = https://github.com/google/googletest
	branch = master
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
